Repository cbedroid/personal-portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-migrations-check, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
                  tests/|
              )$
      - id: check-json
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-ast

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [--line-length=120]
        exclude: >
          (?x)^(
                  .github/
              )$
  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        args: [--max-line-length=120]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        args:
          - --config=./frontend/.prettierrc.json
          - --ignore-path=./frontend/.prettierignore
          - --write
        additional_dependencies:
          - prettier@2.6.2
          - "@trivago/prettier-plugin-sort-imports@3.2.0"

  - repo: local
    hooks:
      - id: django-migrations-check
        stages: [push]
        name: Check for missing django migrations.
        entry: bash -c 'exec bash -c "./backend/manage.py makemigrations --check --dry-run"'
        language: python
        language_version: python3
        types: [python]
        pass_filenames: false
        additional_dependencies:
          - requirement.txt

      - id: eslint
        stages: [commit]
        name: Run eslint against all files
        entry: ./frontend/node_modules/.bin/eslint
        language: node
        language_version: 14.15.1
        types: [file]
        files: \.[jt]sx?$
        exclude: ./frontend/node_modules/
        args:
          - --config=./frontend/.eslintrc.json
          - --ignore-path=./frontend/.eslintignore
          - --fix
        additional_dependencies:
          - react-script

      - id: typescript
        stages: [push]
        name: Run typescript checks against code.
        entry: >
          ./frontend/node_modules/.bin/tsc
          --project ./frontend/tsconfig.json
          --noEmit
        language: node
        language_version: 14.15.1
        types: [file]
        files: \.[jt]sx?$
        exclude: ./frontend/node_modules/
        pass_filenames: false

Added Docker nginx configuration
  nginx/dev/Dockerfile
  nginx/dev/include.forwarded
  nginx/dev/include.websocket
  nginx/dev/nginx.conf
  nginx/do-proxy/Dockerfile
  nginx/do-proxy/custom.conf
  nginx/do-proxy/vhost.d/default
Due: none

Added projected deployement docker-compose setup :whale:
  docker-compose.yml
Due: none

Added code pre-commit linter
  .flake8
  .isort.cfg
Due: none

Removed react prettier and eslint from root directory
  .babelrc
  .eslintignore
  .eslintrc
  .eslintrc.js
  .prettierignore
  .prettierrc.json
  .vercel/README.txt
  .vercel/project.json
Due: eslint, typescript

Removed duplicate component
  frontend/src/about/components/BorderLinearProgress.jsx
Due: eslint, typescript

Changed black max-line=88
  .pre-commit-config.yaml
Due: none

ran black linter for python backend
  backend/admin_honeypot/admin.py
  backend/admin_honeypot/migrations/0001_initial.py
  backend/admin_honeypot/migrations/0002_auto_20160208_0854.py
  backend/admin_honeypot/models.py
  backend/core/admin.py
  backend/core/api/filters.py
  backend/core/api/permissions.py
  backend/core/migrations/0001_initial.py
  backend/core/migrations/0002_skill_user.py
  backend/core/migrations/0003_alter_skill_user.py
  backend/core/migrations/0004_technology_project.py
  backend/core/migrations/0010_skill_rate.py
  backend/core/migrations/0011_resume.py
  backend/core/migrations/0012_resume_created_at_resume_updated_at.py
  backend/core/models.py
  backend/portfolio/settings.py
  backend/portfolio/urls.py
  backend/portfolio/vendor_config/allauth_config.py
  backend/users/admin.py
  backend/users/api/filters.py
  backend/users/api/serializers.py
  backend/users/forms.py
  backend/users/management/commands/create_token_user.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/0004_remove_historicaluser_avatar_remove_user_avatar_and_more.py
  backend/users/migrations/0006_socialaccount.py
  backend/users/migrations/0007_alter_socialaccount_link.py
  backend/users/migrations/0008_alter_socialaccount_link_alter_socialaccount_user.py
  backend/users/models.py
Due: django-migrations-check

enabled Social Account API
  backend/api/api_router.py
  backend/users/api/filters.py
  backend/users/api/serializers.py
  backend/users/api/views.py
Due: django-migrations-check

restricted CRUD access to User api for unauthenticated users.
  backend/users/api/views.py
Due: django-migrations-check

Renamed and updated fixtures prod use.
  backend/users/fixtures/social_account.json
  backend/users/fixtures/userprofile.json
Due: none

Added custom management command to modify users fixtures
  backend/entrypoint.sh
  backend/users/management/commands/create_superuser_fixtures.py
Due: django-migrations-check

Removed unused user's view file (not api view)
  backend/users/views.py
Due: django-migrations-check

Added color changing animation
  frontend/src/components/ParticleAnimation.tsx
Due: eslint, typescript

Added missing social_account type
  frontend/src/types.ts
Due: eslint, typescript

moved main component pages to container directory
  frontend/src/App.jsx
  frontend/src/containers/HomePage.tsx
  frontend/src/containers/about/About.tsx
  frontend/src/containers/about/components/AvatarDrawer.tsx
  frontend/src/containers/about/components/BorderLinearProgress.tsx
  frontend/src/containers/about/components/DeveloperSideBar.tsx
  frontend/src/containers/contact/Contact.tsx
  frontend/src/containers/contact/components/ContactForm.tsx
  frontend/src/containers/contact/components/GoogleRecaptcha.tsx
  frontend/src/containers/contact/components/ThankYouModal.tsx
  frontend/src/containers/projects/Projects.jsx
  frontend/src/containers/projects/components/ProjectCard.tsx
  frontend/src/containers/projects/components/TechAvatars.tsx
  frontend/src/containers/resume/ResumePage.tsx
  frontend/src/containers/resume/components/Resume.tsx
  frontend/src/containers/resume/components/ResumeTitle.tsx
Due: eslint, typescript

organized react Dockerfile
  frontend/Dockerfile
Due: none

Updated Nginx conf to support both django & react routing
  nginx/dev/nginx.conf
Due: none

removed unused argument parser method
  backend/users/management/commands/create_superuser_fixtures.py
Due: django-migrations-check

bump version - v2.0.0
  frontend/package.json
Due: none

Disabled vercel automatic deployment
  vercel.json
Due: none

Moved vercel config to root directory
  frontend/vercel.json
Due: none

Update README.rst
  README.rst
Due: none

Updated django settings and urls
  backend/portfolio/settings.py
  backend/portfolio/urls.py
  backend/portfolio/vendor_config/cors_headers.py
Due: django-migrations-check

Updated django urls and third parties configurations (#4)
  backend/portfolio/settings.py
  backend/portfolio/urls.py
  backend/portfolio/vendor_config/cors_headers.py
Due: django-migrations-check

Django and React build file for vercel deployment
  backend/.vercel_build.sh
  frontend/.vercel_build.sh
Due: none

Added django and react vercel config for deployment
  backend/portfolio/wsgi.py
  vercel.json
Due: django-migrations-check

Create .keep
  .github/workflows/.keep
Due: none

reduce deployment dependencies size
  backend/.vercel_build.sh
  backend/requirements.dev.txt
Due: none

split backend and frontend deployement
  backend/requirements.dev.txt
  backend/vercel.json
Due: none

configured django settings for vercel
  backend/.vercel_build.sh
  backend/portfolio/settings.py
Due: django-migrations-check

separated django and react deployment builds
  backend/.vercel_build.sh
  backend/vercel.json
  frontend/.vercel_build.sh
  frontend/vercel.json
Due: none

Updated django requirements files for different environments
  backend/requirements.dev.txt
  backend/requirements.prod.txt
  backend/requirements.txt
Due: none

fixed typo in cors env variable, django static files config
  backend/__init__.py
  backend/portfolio/settings.py
Due: django-migrations-check
