Repository cbedroid/personal-portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-migrations-check, eslint, typescript

django-migrations-check:
  stages:
  - push
  name: Check for missing django migrations.
  entry: bash -c 'exec bash -c "./backend/manage.py makemigrations --check --dry-run"'
  language: python
  language_version: python3
  pass_filenames: false
  additional_dependencies:
  - argon2-cffi==21.3.0
  - Django==3.2.12
  - black==22.8.0
  ...

eslint:
  stages:
  - commit
  name: Run eslint against all files
  entry: ./frontend/node_modules/.bin/eslint
  language: node
  language_version: 14.15.1
  args:
  - --config=./frontend/.eslintrc.json
  - --ignore-path=./frontend/.eslintignore
  - --fix
  additional_dependencies:
  - react-script

typescript:
  stages:
  - push
  name: Run typescript checks against code.
  entry: './frontend/node_modules/.bin/tsc --project ./frontend/tsconfig.json --noEmit
  
    '
  language: node
  language_version: 14.15.1
  pass_filenames: false

add jest env config for eslintrc
  frontend/.eslint.js
Due: eslint, typescript

ignore pycharm idea editor configs
  .gitignore
Due: none

remove unneeded div wrapper
  frontend/src/utils/renderWithProviders.tsx
Due: eslint, typescript

elevate test runner apt permission
  .github/workflows/test_backend.yml
Due: none

create shared App theme and moved to root directory
  frontend/src/uistore/theme/baseTheme.ts
Due: eslint, typescript

Fixed tests not finding theme, use baseTheme from uistore
  frontend/src/App.jsx
  frontend/src/utils/renderWithProviders.tsx
Due: eslint, typescript

investigating typescript-checks freezes
  .pre-commit-config.yaml
Due: none

Remove invalid watch command
  frontend/tsconfig.json
Due: none

update test runner python dependencies
  .github/workflows/test_backend.yml
Due: none

downgrade test runner Django to 3.1.8 due to psycopg install error
  .github/workflows/test_backend.yml
Due: none

downgrade ubuntu test runner to 20.04, use python 3.9
  .github/workflows/test_backend.yml
Due: none

update python setup action to v4 version
  .github/workflows/test_backend.yml
Due: none

update docker postgres image, add psycopg
  .github/workflows/test_backend.yml
Due: none

Update python test runner version to 3.9
  .github/workflows/test_backend.yml
Due: none

Update to Ubuntu latest
  .github/workflows/test_backend.yml
Due: none

Fix eslint end-of-file
  frontend/src/containers/resume/components/ResumeTitle.tsx
Due: eslint, typescript

Add missing eslint package
  frontend/package-lock.json
  frontend/package.json
Due: none

remove unused yup package
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

Add yup dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix eof error, remove github workflow keep file
  .github/workflows/.keep
Due: none

fix pre-comment relative path to executable
  .pre-commit-config.yaml
Due: none

add eslint additional dependencies
  .pre-commit-config.yaml
Due: none

fix eslint entry path
  .pre-commit-config.yaml
Due: none

fix pre-commit to path to root directory
  .pre-commit-config.yaml
Due: none

fixing pre-commit eslint path not file
  .pre-commit-config.yaml
Due: none

pre-commit clean to clear workflow cache. Add verbose to investigate problems.
  .github/workflows/test_backend.yml
Due: none

ran python pre-commit individually
  .github/workflows/test_backend.yml
Due: none

10/feat/testing and automatic deployment using GitHub actions (#11)
  .github/workflows/.keep
  .github/workflows/ci-cd-deploy.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy_frontend.yml
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  backend/core/migrations/0001_initial.py
  backend/core/migrations/0002_skill_user.py
  backend/core/migrations/0003_alter_skill_user.py
  backend/core/migrations/0004_technology_project.py
  backend/core/migrations/0005_technology_image_technology_link.py
  backend/core/migrations/0006_alter_project_description.py
  backend/core/migrations/0007_alter_project_technology.py
  backend/core/migrations/0008_alter_project_technology.py
  backend/core/migrations/0009_alter_project_technology.py
  backend/core/migrations/0010_skill_rate.py
  backend/core/migrations/0011_resume.py
  backend/core/migrations/0012_resume_created_at_resume_updated_at.py
  backend/core/migrations/0013_alter_technology_options.py
  backend/requirements.prod.txt
  backend/requirements.txt
  frontend/.eslint.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/__data__/project.ts
  frontend/src/containers/projects/Project.test.tsx
  frontend/src/containers/resume/components/ResumeTitle.tsx
  frontend/src/global-setup.js
  frontend/src/setupTests.js
  frontend/src/uistore/theme/baseTheme.ts
  frontend/src/utils/renderWithProviders.tsx
  frontend/tsconfig.json
Due: django-migrations-check, eslint, typescript

Fix theme config causing blank screen
  frontend/package.json
  frontend/src/uistore/theme/baseTheme.ts
Due: eslint, typescript

Fix theme config causing blank screen (#12)
  frontend/package.json
  frontend/src/uistore/theme/baseTheme.ts
Due: eslint, typescript

move pull_request template to github root directory.
  .github/pull_request_template.md
Due: none

move pull_request template to github root directory. (#13)
  .github/pull_request_template.md
Due: none

Path conditions:
  django-migrations-check: any of: \.py$
  eslint: any of: \.[jt]sx?$
  typescript: any of: \.[jt]sx?$, but not: ./frontend/node_modules/
