Repository cbedroid/personal-portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-migrations-check, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: >
          (?x)^(
                  tests/|
              )$
      - id: check-json
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-ast

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [--line-length=120]
        exclude: >
          (?x)^(
                  .github/
              )$
  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        args: [--max-line-length=120]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        args:
          - --config=./frontend/.prettierrc.json
          - --ignore-path=./frontend/.prettierignore
          - --write
        additional_dependencies:
          - prettier@2.6.2
          - "@trivago/prettier-plugin-sort-imports@3.2.0"

  - repo: local
    hooks:
      - id: django-migrations-check
        stages: [push]
        name: Check for missing django migrations.
        entry: bash -c 'exec bash -c "./backend/manage.py makemigrations --check --dry-run"'
        language: python
        language_version: python3
        types: [python]
        pass_filenames: false
        additional_dependencies:
          - requirement.txt

      - id: eslint
        stages: [commit]
        name: Run eslint against all files
        entry: ./frontend/node_modules/.bin/eslint
        language: node
        language_version: 14.15.1
        types: [file]
        files: \.[jt]sx?$
        exclude: ./frontend/node_modules/
        args:
          - --config=./frontend/.eslintrc.json
          - --ignore-path=./frontend/.eslintignore
          - --fix
        additional_dependencies:
          - react-script

      - id: typescript
        stages: [push]
        name: Run typescript checks against code.
        entry: >
          ./frontend/node_modules/.bin/tsc
          --project ./frontend/tsconfig.json
          --noEmit
        language: node
        language_version: 14.15.1
        types: [file]
        files: \.[jt]sx?$
        exclude: ./frontend/node_modules/
        pass_filenames: false

react proxy config for different domain
  frontend/src/setupProxy.js
Due: eslint, typescript

Updated django static file config
  backend/portfolio/settings.py
Due: django-migrations-check

Imp/vercel deployment for django react app (#6)
  backend/.vercel_build.sh
  backend/__init__.py
  backend/portfolio/settings.py
  backend/portfolio/wsgi.py
  backend/requirements.dev.txt
  backend/requirements.prod.txt
  backend/requirements.txt
  backend/vercel.json
  frontend/.vercel_build.sh
  frontend/src/setupProxy.js
  frontend/vercel.json
  vercel.json
Due: django-migrations-check, eslint, typescript

Update README.rst
  README.rst
Due: none

Delete resume.pdf
  frontend/resume.pdf
Due: none

Updated resume certifications link
  content/resume-no-cert.pdf
  content/resume.pdf
Due: none

Updated resume for March 2023
  content/resume.pdf
Due: none

Update ci-cd-deploy.yml
  .github/workflows/ci-cd-deploy.yml
Due: none

NoIssue/workflow/switch-to-manual-deployment (#8)
  .github/workflows/ci-cd-deploy.yml
Due: none

Fixed title not spacing on smaller screen.
  frontend/src/containers/resume/components/ResumeTitle.tsx
Due: eslint, typescript

update Resume responsiveness on smaller screens
  frontend/src/containers/resume/ResumePage.tsx
  frontend/src/containers/resume/components/Resume.tsx
Due: eslint, typescript

7/imp/fix resume layout for smaller screens (#9)
  frontend/src/containers/resume/ResumePage.tsx
  frontend/src/containers/resume/components/Resume.tsx
  frontend/src/containers/resume/components/ResumeTitle.tsx
Due: eslint, typescript

Add missing package lock file needed for deployment.
  frontend/package-lock.json
Due: none

Add workflows to test, build and deploy application using github actions
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy_frontend.yml
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
Due: none

Create pull_request_template.md
  .github/workflows/pull_request_template.md
Due: none

rename job and fixed workflow freezes due to runs-on ubuntu-18.04 not working.
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
Due: none

fix github action cannot use and run key error
  .github/workflows/test_frontend.yml
Due: none

Fix apt prerequisites - python-dev depreciated
  .github/workflows/test_backend.yml
Due: none

Fix apt prerequisites typo
  .github/workflows/test_backend.yml
Due: none

update path to django migrations
  .github/workflows/test_backend.yml
Due: none

fix migration failure due missing dependencies
  backend/requirements.prod.txt
  backend/requirements.txt
Due: none

fix requirements for testing
  backend/requirements.txt
Due: none

fix wrong path to additional requirements
  .pre-commit-config.yaml
Due: none

Remove additional requirements for django migrations checks
  .pre-commit-config.yaml
Due: none

reset migrations
  backend/core/migrations/0001_initial.py
  backend/core/migrations/0002_skill_user.py
  backend/core/migrations/0003_alter_skill_user.py
  backend/core/migrations/0004_technology_project.py
  backend/core/migrations/0005_technology_image_technology_link.py
  backend/core/migrations/0006_alter_project_description.py
  backend/core/migrations/0007_alter_project_technology.py
  backend/core/migrations/0008_alter_project_technology.py
  backend/core/migrations/0009_alter_project_technology.py
  backend/core/migrations/0010_skill_rate.py
  backend/core/migrations/0011_resume.py
  backend/core/migrations/0012_resume_created_at_resume_updated_at.py
  backend/core/migrations/0013_alter_technology_options.py
Due: django-migrations-check

add addional dependencies for pre-commit pre-push
  .pre-commit-config.yaml
Due: none

Fix Django CI/CD fail due to migration on Django 4.0.7
  .github/workflows/ci-cd-deploy.yml
  .github/workflows/test_backend.yml
  .pre-commit-config.yaml
Due: none

Remove unsed vscode editor config
  .vscode/settings.json
Due: none

updated failing eslint, remove node_modules from exclusions
  .pre-commit-config.yaml
Due: none

Update automatic testing and deployment to vercel
  .github/workflows/deploy-backend.yml
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
Due: none

Setup jest testing for react app
  frontend/src/__data__/project.ts
  frontend/src/containers/projects/Project.test.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/renderWithProviders.tsx
  frontend/tsconfig.json
Due: eslint, typescript

updated packaage, add yup typescript dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix yup typescript type not defined.
  frontend/tsconfig.json
Due: none

fix yup typescript type not defined.
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

Update jest testing dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix MediaElement warning unstable flushDiscreteUpdate by mocking muted and autoPlay
  frontend/src/setupTests.js
  frontend/src/setupTests.ts
Due: eslint, typescript

add timezone mock
  frontend/src/global-setup.js
Due: eslint, typescript
